h1 {
    text-align: center;
}
    
body {
    background-color:rgb(223, 254, 146);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem;
}

div {
    background-color: rgb(21, 255, 0);
    margin: 0.6rem;
    flex: auto;
    border: 1px solid rgb(21, 255, 0);
    border-radius: 0.30rem;
    font-size: 15pt;
    color: aqua;
    text-align: center;
    justify-content: space-around;
}

nav {
    background-color: rgb(22, 18, 17);
}

.lapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}